body {
    background-image: url(bg1.jpg);
    background-size: cover;
    padding:0;
    margin:0;
}
h1 {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    color: darkorange;
    text-decoration: underline;
}

#btn-submit {
    align-items: center;
    width: 100px;
    height: 50px;
}

  
#prompt-container {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 3px;
}
  
#yellow-block {
    position: absolute;
    margin-top: 10px;
    width: 15px;
    height: 15px;
    background-color: yellow;
}
  
.keyboard-container {
    margin-top: 200px;
}
  
#target-letter {
    font-size: 55px;
    color: red;  
}

#sentence {
    font-size: 25px;
    color: red;
}
  
.keys-row {
    margin-top: 40px;
    padding: 10px 0;
}
  
#feedback {
    font-size: 20px;
}
.glyphicon-ok {
    color: #1DA237
}
  
.glyphicon-remove {
    color : #CD2626
}

.key {
    color: white;
    background-color: rgb(0, 38, 255);
    border: 4px solid rgb(121, 133, 241);
}